<header class="sub_header">
  <h1><%= @sub.title %></h1>
  <p><%= @sub.name %></p>
  <%= link_to("EDIT", edit_sub_url(@sub)) if @sub.moderator == current_user %>
</header>
<aside>
<h2>About Community</h2>
<p><%= @sub.description %></p>
<%= link_to "CREATE POST", new_sub_post_url(@sub) if logged_in? %>
</aside>
<section class="posts">
  <%= render "posts/index", sub: @sub %>
</section>