<form action="<%= @post.persisted? ? post_url : posts_url %>" method="post">
  <% if @post.persisted? %>
  <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= csrf_token %>
  <fieldset  class="sub_menu">
    <ul>
      <% Sub.all.each do |sub| %>
      <li>
        <input 
          type="checkbox" 
          id="<%= sub.name %>"
          name="post[sub_ids][]" 
          value="<%= sub.id %>" 
          <%= "checked" if @post.subs.include?(sub) %>
        >
        <label for="<%= sub.name %>">r/<%= sub.name %></label>
      </li>
      <% end %>
    </ul>
    <input type="hidden" name="post[sub_id][]" value="">
  </fieldset>
  <input 
    id="post_title" 
    type="text" 
    name="post[title]" 
    placeholder="Title"
    value="<%= @post.title %>">
  <textarea 
    name="post[content]" 
    id="post_content" 
    cols="30" rows="10" 
    placeholder="Text (optional)"
    ><%= @post.content %></textarea>
  <input type="submit" value="<%= @post.persisted? ? "SAVE" : "POST" %>">
</form>