<section class="full-post">
  <article>
    <header>
      <ul class="posted-subs"> 
        <% @post.subs.each do |sub| %>
        <li><h6><%= link_to sub.name, sub %></h6></li>
        <% end %>
      </ul>
      <p>Posted by u/<%= @post.author.username %> <%= 
      time_ago_in_words(@post.created_at) %></p>
      <h2><%= @post.title %></h2>
    </header>
    <p><%= @post.content %></p>
    <%= render "post_footer", post: @post, sub: nil %>
  </article>
  <% if flash[:errors] %>
    <%= render "shared/notices", notices: flash[:errors], type: :error %>
  <% end %>
  <% if logged_in? %>
    <%= render "comments/form" %>
  <% end %>
  <%= render "comments/index" %>
</section>